
    .chart-selector {
        display: flex;
        margin-bottom: 20px;
    }

    .chart-button, .chart-button-dolar{
        padding: 7px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f9f9f9;
    }

    .chart-button.active, .chart-button-dolar.active-dolar{
        background-color: #e0e0e0;
        border-color: black;
    }